{% extends "global/base.html" %}

{% block content %}
  <div class="form-wrapper">
    <h2>Login </h2>
    
    {% if user.is_authenticated %}

        {% if messages %}
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <p>
            Você fez login como {{ user.username }}.
            Clique <a href="{% url 'authentication:logout' %}">aqui</a>
            para sair.
        </p>
    {% else %}
      {% include 'authentication/partials/form.html' %}
    {% endif %}
  </div>
{% endblock content %}